<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
		SrcInputFolder
    ================================================================================
    This is the folder the source data files (pcap) will be written into.
    C:\Queue\Swpackets\src\Input
		-->
    <add key="SrcInputFolder" value="C:\Queue\Swpackets\src\Input"/>
    <!--
		SrcErrorsFolder
    ================================================================================
    During processing, source data files that raise an error will move here.
    C:\Queue\Swpackets\src\Errors
		-->
    <add key="SrcErrorsFolder" value="C:\Queue\Swpackets\src\Errors"/>
    <!--
		SrcOutputFolder
    ================================================================================
    When processed, the source data files (pcap) will move to this folder.
    C:\Queue\Swpackets\src\Output
		-->
    <add key="SrcOutputFolder" value="C:\Queue\Swpackets\src\Output"/>
    <!--
		CsvInputFolder
    ================================================================================
    When processed, the resulting statistics data files (csv) will be written here.
    C:\Queue\Swpackets\csv\Input
		-->
    <add key="CsvInputFolder" value="C:\Queue\Swpackets\csv\Input"/>
    <!--
		CsvErrorsFolder
    ================================================================================
    During processing, source data files that raise an error will move here.
    C:\Queue\Swpackets\csv\Errors
		-->
    <add key="CsvErrorsFolder" value="C:\Queue\Swpackets\csv\Errors"/>
    <!--
		CsvOutputFolder
    ================================================================================
    When processed, the source data files (pcap) will move to this folder.
    C:\Queue\Swpackets\csv\Output
		-->
    <add key="CsvOutputFolder" value="C:\Queue\Swpackets\csv\Output"/>
    <!--
		InterfaceID
    ================================================================================
    The GUID for the interface which will be used for packet capture. The property 
    is a comma separated value. Add multiple interfaces separated by a comma if 
    running multiple capture threads.    
		You can find it by running: wmic nicconfig get Description,MACAddress,SettingID
		InterfaceID = rpcap://\Device\NPF_<SettingID>
		-->
    <add key="InterfaceID" value="rpcap://\Device\NPF_{357F13D8-632D-444A-AC2A-AF2830AFFE14}"/>
    <!--
		PacketPerCapture
		================================================================================
		The approximate number of packets to capture per .pcap file.
    The resulting file will be approximately 1 MB per 1000 packets.    
		-->
    <add key="PacketPerCapture" value="50000"/>
    <!--
		MachineName
		================================================================================
		The computer name to be used for packet capture. 
		If blank, defaults to the local computer name (recommended).
		-->
    <add key="MachineName" value=""/>
    <!--
		CaptureThreadCount
		================================================================================
		Number of threads for capturing network traffic and generating pcap files.
    Use one thread per network interface. If using more than one thread, specify
    more than one interface in the InterfaceID property.
    If zero, disables network packet capture.
		-->
    <add key="CaptureThreadCount" value="1"/>
    <!--
		StatisticsThreadCount
		================================================================================
		Number of threads used for processing pcap files and generating csv statistics. 
    If zero, disables statistical processing.
		If blank, defaults to one thread per cpu core (recommended).
		-->
    <add key="StatisticsThreadCount" value=""/>
  </appSettings>
</configuration>