<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
		CaptureToFolder
        ================================================================================
        This is the folder the pcap files will be queued into.
		-->
    <add key="CaptureToFolder" value="E:\Queue\SWPacketListener"/>
    <!--
		ProcessToFolder
		================================================================================
		When processed, the pcap files will move to this folder.
		-->
    <add key="ProcessToFolder" value="E:\Queue\SWPacketListener\Pcap"/>
    <!--
		StatisticsToFolder
		================================================================================
		When processed, the resulting csv statistics files will move to this folder.
		-->
    <add key="StatisticsToFolder" value="E:\Queue\SWPacketListener\Csv"/>
    <!--
		InterfaceID
    ================================================================================
    The GUID for the interface which will be used for packet capture.
		You can find it by running: wmic nicconfig get Description,MACAddress,SettingID
		InterfaceID = \Device\NPF_<SettingID>
		-->
    <add key="InterfaceID" value="\Device\NPF_{E22BD295-2B4A-4946-9CEE-4C679E44642F}"/>
    <!--
		PacketPerCapture
		================================================================================
		The number of packets to capture per .pcap file.
    The minimum is 1000 packets.
    The resulting file will be approximately 1 MB per 1000 packets.    
		-->
    <add key="PacketPerCapture" value="50000"/>
    <!--
		MachineName
		================================================================================
		The computer name to be used for packet capture. 
		If blank, defaults to the local computer name (recommended).
		-->
    <add key="MachineName" value=""/>
    <!--
		StatisticsThreadCount
		================================================================================
		Number of threads used for processing pcap files and generating csv statistics. 
		If zero, defaults to one thread per cpu core (recommended).
		-->
    <add key="StatisticsThreadCount" value="0"/>
  </appSettings>
</configuration>