<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
		SrcInputFolder
    ================================================================================
    This is the folder the source data files will be written into.
    C:\Queue\Swsyslog\src\Input
		-->
    <add key="SrcInputFolder" value="C:\Queue\Swsyslog\src\Input"/>
    <!--
		SrcErrorsFolder
    ================================================================================
    During processing, source data files that raise an error will move here.
    C:\Queue\Swsyslog\src\Errors
		-->
    <add key="SrcErrorsFolder" value="C:\Queue\Swsyslog\src\Errors"/>
    <!--
		SrcOutputFolder
    ================================================================================
    When processed, the source data files will move to this folder.
    C:\Queue\Swsyslog\src\Output
		-->
    <add key="SrcOutputFolder" value="C:\Queue\Swsyslog\src\Output"/>
    <!--
		CsvInputFolder
    ================================================================================
    When processed, the resulting common files (csv) will be written here.
    C:\Queue\Swsyslog\csv\Input
		-->
    <add key="CsvInputFolder" value="C:\Queue\Swsyslog\csv\Input"/>
    <!--
		CsvErrorsFolder
    ================================================================================
    During processing, common data files (csv) that raise an error will move here.
    C:\Queue\Swsyslog\csv\Errors
		-->
    <add key="CsvErrorsFolder" value="C:\Queue\Swsyslog\csv\Errors"/>
    <!--
		CsvOutputFolder
    ================================================================================
    When processed, the common data files (csv) will move to this folder.
    C:\Queue\Swsyslog\csv\Output
		-->
    <add key="CsvOutputFolder" value="C:\Queue\Swsyslog\csv\Output"/>
    <!--
		MachineName
		================================================================================
		The computer name to be used for packet capture. 
		If blank, defaults to the local computer name (recommended).
		-->
    <add key="MachineName" value=""/>
    <!--
		InterfaceID
    ================================================================================
    The GUID for the interface which will be used for packet capture. The property 
    is a comma separated value. Add multiple interfaces separated by a comma if 
    running multiple capture threads.    
		You can find it by running: wmic nicconfig get Description,MACAddress,SettingID
		InterfaceID = rpcap://\Device\NPF_<SettingID>
		-->
    <add key="InterfaceID" value="rpcap://\Device\NPF_{357F13D8-632D-444A-AC2A-AF2830AFFE14}"/>
    <!--
		SyslogFilter
    ================================================================================
    The packet capture filter that specifies what port and IP address to capture
    syslog UDP traffic from. This is the same filter as one would set using the 
		Wireshark: Capture Options.
		udp port 514
		-->
    <add key="SyslogFilter" value="udp port 514"/>
    <!--
		LogsPerCsv
		================================================================================
		The approximate number of syslog entries to capture per .csv file.
    The resulting file will be approximately 1 MB per 1000 packets.    
		-->
    <add key="LogsPerCsv" value="10000"/>
  </appSettings>
</configuration>